@use "@/styles/main.scss" as *;

.dropdown {
  @include flex(column, flex-start, flex-start);
  @include rounded(xl);
  visibility: hidden;
  top: 3rem;
  right: 0;
  position: absolute;
  width: 12rem;
  height: auto;
  overflow: hidden;
  background-color: var(--bg-secondary, #000);
  box-shadow: var(--accent-shadow);
  transition: all ease-in-out 0.2s;
  opacity: 0;
  transform: translateY(-5rem);

  &.open {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
  }
}
