@use "@/styles/main.scss" as *;

.auth-switch-method__button {
  margin-left: auto;
  color: var(--accent-secondary);
  font-weight: 500;
  font-size: 0.9rem;
}

.auth-link__container {
  color: var(--text-primary-muted);
  font-size: 0.85rem;
  .auth-link {
    margin-left: 0.1rem;
    text-decoration: underline;
    text-underline-offset: 0.1rem;
    color: var(--accent-secondary);
    font-weight: 500;
    transition: filter 0.2s;
    &:hover {
      filter: brightness(1.2);
    }
  }
}

.auth-page {
  @include flex(column, center);
  @include size(100%);
  @include spacing(padding, 2rem);
  h1 {
    align-self: center;
    margin-bottom: 0.5rem;
  }
}

.auth-page__form-container {
  @include flex(column);
  width: 100%;
  gap: 0.5rem;

  & form {
    @include flex(column);
    width: 100%;
    gap: 1rem;
  }
}
