@use "@/styles/main.scss" as *;

.button {
  @include spacing(padding, 0.5rem, 1.2rem);
  @include rounded(md);
  margin-top: 0.9rem;
  font-size: 0.9rem;
  color: var(--text-primary);
  transition: background-position 0.3s ease, transform 0.2s, filter 0.2s;

  &-primary {
    box-shadow: var(--accent-shadow);
    background: linear-gradient(135deg, var(--accent-primary), var(--accent-secondary));
    background-size: 200% 200%;

    &:hover {
      background-position: right center;
    }
    &:active {
      transform: scale(0.97);
    }
  }
  &-secondary {
    background: linear-gradient(135deg, var(--bg-primary), var(--bg-secondary));
    border-bottom: 1px solid var(--text-primary-muted);
    background-size: 200% 200%;
    &:hover {
      background-position: right center;
    }
  }
  &-danger {
    background: linear-gradient(135deg, var(--color-invalid), var(--bg-primary));
    box-shadow: var(--invalid-shadow-color);
    background-size: 200% 200%;

    &:hover {
      background-position: 100% 100%;
    }

    &:active {
      transform: scale(0.97);
    }
  }
  &:hover {
    background-position: right center;
    filter: brightness(1.1);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
