@use "@/styles/main.scss" as *;
.input-container {
  @include flex();
  width: 100%;
  gap: 0.2rem;
  & .input-label {
    font-weight: 450;
    font-size: 0.85rem;
    margin-bottom: 0.1rem;
  }
  &--error {
    color: var(--color-invalid);
    font-size: 0.85rem;
  }
}

.input-wrapper {
  @include spacing(padding, 0.4rem);
  @include rounded(md);
  @include flex(row, center);
  @include size(100%);
  font-weight: 500;
  border: 1px solid var(--text-primary-muted);
  transition: border-color 0.2s, box-shadow 0.2s;
  font-size: 0.9rem;
  .input-container--error & {
    border-color: var(--color-invalid) !important;
    box-shadow: var(--invalid-shadow-color) !important;
  }

  gap: 0.2rem;
  &:has(input:focus) {
    border-color: var(--accent-primary);
    box-shadow: var(--accent-shadow-lg);
  }

  &:has(input:not(:placeholder-shown)):not(:has(input:focus)) {
    border-color: var(--accent-primary);
    box-shadow: var(--accent-shadow);
  }

  .eye-icon {
    @include size(1.5rem);
    transition: transform 0.2s;
    &:hover {
      transform: scale(1.15);
    }
  }
  & input::placeholder {
    color: var(--text-primary-muted);
    font-weight: normal;
    transition: color 0.2s;
  }
}
