@use "@/styles/main.scss" as *;

.input-container {
  @include flex();
  width: 100%;
  gap: 0.2rem;

  &__label {
    font-weight: 450;
    font-size: 0.85rem;
    margin-bottom: 0.1rem;
  }

  &--error {
    color: var(--danger);
    font-size: 0.85rem;
  }

  &__wrapper {
    @include spacing(padding, 0.4rem);
    @include flex(row, center);
    @include size(100%);
    transition: border-color 0.2s, box-shadow 0.2s;
    font-size: 0.9rem;
    font-weight: 500;
    gap: 0.2rem;

    .input-container-primary & {
      @include rounded(md);
      border: 1px solid var(--text-primary-muted);

      &--error {
        box-shadow: var(--danger-shadow) !important;
      }

      &:has(input:focus),
      &:has(textarea:focus) {
        box-shadow: var(--accent-shadow-lg);
      }

      &:has(input:not(:placeholder-shown)):not(:has(input:focus)),
      &:has(textarea:not(:placeholder-shown)):not(:has(textarea:focus)) {
        box-shadow: var(--accent-shadow);
      }
    }

    .input-container-secondary & {
      padding-top: 0.1rem;
      padding-left: 0.1rem;
      border-bottom: 1px solid var(--text-primary-muted);
    }

    &--error {
      border-color: var(--danger) !important;
    }

    &:has(input:focus),
    &:has(textarea:focus) {
      border-color: var(--accent-primary);
    }

    &:has(input:not(:placeholder-shown)):not(:has(input:focus)),
    &:has(textarea:not(:placeholder-shown)):not(:has(textarea:focus)) {
      border-color: var(--accent-primary);
    }

    .eye-icon {
      @include size(1.5rem);
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.15);
      }
    }

    & input::placeholder,
    & textarea::placeholder {
      color: var(--text-primary-muted);
      font-weight: normal;
      transition: color 0.2s;
    }
  }
}
