@mixin flex($direction: column, $align: start, $justify: unset) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin spacing($type, $top: 0, $right: $top, $bottom: $top, $left: $right) {
  #{$type}: $top $right $bottom $left;
}

@mixin size($width, $height: $width) {
  height: $height;
  width: $width;
}

@mixin rounded($radius) {
  @if $radius == full {
    border-radius: 50%;
  } @else if $radius == md {
    border-radius: 0.375rem;
  } @else if $radius == xl {
    border-radius: 0.75rem;
  } @else if $radius == 2xl {
    border-radius: 1.2rem;
  } @else {
    border-radius: $radius;
  }
}

@mixin line-clamp($lines: 1) {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}

@mixin fade-in($duration: 1s, $timing: cubic-bezier(0.22, 1, 0.36, 1), $y: 20px, $scale: 0.98) {
  animation: slide-fade-in-anim $duration $timing forwards;

  @keyframes slide-fade-in-anim {
    from {
      opacity: 0;
      transform: translateY($y) scale($scale);
    }
    to {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
}
