@use "@/styles/main.scss" as *;

.settings-card {
  @include flex(row, center, space-between);
  @include spacing(padding, 0.75rem, 1rem);
  gap: 0.5rem;
  width: 100%;
  @include rounded(md);
  cursor: pointer;
  transition: background 0.2s ease, transform 0.1s ease, opacity 0.1s ease;
  opacity: 85%;
  &:hover {
    background: var(--bg-secondary);
    transform: translateY(-1px);
    opacity: 100%;
  }

  &:active {
    transform: scale(0.98);
    opacity: 100%;
  }

  &__icon {
    @include size(1rem);
    transform: rotate(180deg);
    stroke-width: 0.1rem;
    stroke: white;
    color: transparent;
  }

  &__content {
    @include flex();
    gap: 0.25rem;

    &-title {
      font-size: 1rem;
      font-weight: 600;
      color: var(--text-primary);
    }

    &-description {
      font-size: 0.875rem;
      color: var(--text-primary-muted);
    }
  }
}
.settings-card__content {
}
