@use "./themes/themes";
@use "./abstracts/mixins" as *;
@forward "./abstracts/mixins";
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  background-color: var(--app-bg);
  color: var(--text-primary);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  @include flex();
  height: 100vh;

  position: relative;
  overflow-x: hidden;
}

button {
  cursor: pointer;
  border: none;
  text-decoration: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input {
  font-family: "Rubik", sans-serif;
  border: none;
  outline: none;
}
