@use "@/styles/main.scss" as *;

.settings-profile {
  @include flex(column);
  width: 100%;
  text-align: center;

  & .edit-picture {
    position: relative;
    margin-bottom: 1rem;
    box-shadow: var(--accent-shadow-lg);
    @include rounded(full);
    @include size(8rem);
    & .input-file {
      @include rounded(full);
    }
    &__preview {
      @include size(8rem);
      @include rounded(full);
    }
  }
  &-form {
    @include spacing(padding, 1.5rem);
    @include flex(column, center);
    padding-top: 0.5rem;
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
    gap: 0.5rem;
  }
  &-input {
    width: auto;
    margin-bottom: 0.4rem;
  }
  &-button {
    margin-top: 2rem;
  }
}
