@use "@/styles/main.scss" as *;

.user-list {
  @include flex(column);
  width: 100%;
  gap: 1rem;
}
.user-list__item {
  @include flex(row, center);
  width: 100%;
  gap: 0.7rem;
}

.user-list__avatar {
  @include rounded(full);
  @include size(3rem);
  object-fit: cover;
}

.user-list__username {
  @include line-clamp();
  font-size: large;
  font-weight: 600;
}

.user-list__chat-button {
  @include size(2.5rem);
  margin-left: auto;
}

.user-list__status {
  margin-left: auto;
}

.user-list__button {
  padding: 6px 12px;
  border: none;
  margin-left: auto;
  border-radius: 4px;
  font-weight: 500;
  font-size: 0.9rem;
}

.user-list__button--disabled {
  background-color: #eee;
  color: #999;
  cursor: not-allowed;
}

.user-list__button--accept {
  background-color: #4caf50;
  color: white;
}

.user-list__button--send {
  background-color: #2196f3;
  color: white;
}
