@use "@/styles/main.scss" as *;
.chat-header {
  @include flex(row, center, space-between);
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  width: 100%;
  height: 4rem;
  position: sticky;
  top: 0;
  background: linear-gradient(var(--bg-secondary) 60%, transparent);
  &__close {
    &__icon {
      @include size(1.2rem);
    }
  }
  &__info {
    @include flex(row, center);
    @include rounded(2rem);
    @include spacing(padding, 0.2rem);

    width: 11rem;
    gap: 0.5rem;
    font-weight: 500;
    background: var(--accent-primary-gradient);

    &__icon {
      @include size(2.5rem);
      border: 0.15rem inset;
      &.online {
        border-color: var(--status-online);
      }
      &.offline {
        border-color: var(--status-offline);
      }
      @include rounded(full);
    }
  }
}
