.modal {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  inset: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  overflow-y: scroll;
  overflow-x: hidden;
  transition: transform 0.3s ease-in-out;

  &-open {
    transform: translateX(0);
  }
}
