@use "@/styles/main.scss" as *;

.nav-bar {
  @include flex(row, center, space-around);
  @include spacing(padding, 1rem, 0);
  width: 100%;
  height:5rem ;
  background: linear-gradient(transparent, var(--bg-primary) 40%);
  position: fixed;
  bottom: 0;
  z-index: 10;
}

.nav-bar__button {
  @include flex(column, center, center);
  color: var(--text-primary);
  &:hover,
  &:focus-visible {
    color: var(--accent-primary);
  }
  &:hover .nav-bar__icon,
  &:focus-visible .nav-bar__icon {
    color: var(--accent-primary);
  }

  font-size: medium;
  font-weight: 400;
  gap: 0.4rem;
  &--active {
    color: var(--accent-primary);
    font-weight: 600;
  }
}
.nav-bar__icon {
  @include size(1.7rem);
  transition: color 0.2s ease, stroke 0.2s ease;
  stroke: var(--text-primary);
  stroke-width: 0px;
  &:not(.nav-bar__icon--active) {
    stroke-width: 1px;
    color: transparent;
  }

  &--user {
    @include rounded(full);
    @include spacing(padding, 2px);
    &:not(.nav-bar__icon--active) {
      outline: 1.2px solid var(--text-primary);
      stroke-width: 1.2px;
    }
  }
}
