@use "@/styles/main.scss" as *;

.settings-upgrade-account {
  @include flex(column);
  width: 100%;
  text-align: center;

  &-form {
    @include spacing(padding, 1.5rem);
    @include flex(column, center);
    padding-top: 0.5rem;
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
    gap: 0.5rem;
  }
  &-input {
    width: auto;
    margin-bottom: 0.4rem;
  }
  &-button {
    margin-top: 2rem;
  }
}
