@use "@/styles/main.scss" as *;

.messages {
  @include flex(column);
  width: 100%;
  gap: 0.8rem;
}

.message-container {
  @include flex(row);
  gap: 5px;

  &.sent {
    align-self: flex-end;
    .message-time {
      align-self: flex-end;
    }
    .message-content {
      & p {
        background: var(--accent-primary);
        border-end-end-radius: 0px;
      }
    }
  }
  &.received {
    align-self: flex-start;
    .message-content {
      & p {
        border-end-start-radius: 0px;
        background-color: var(--accent-secondary);
      }
    }
  }
}
.message-content {
  @include flex();
  & p {
    @include spacing(padding, 0.5em, 0.7rem);
    @include rounded(2xl);
  }
  &--unread p {
    background-color: var(--unread-color) !important;
    font-weight: 600;
  }
}
.message-time {
  font-size: 0.7rem;
  color: var(--text-primary-muted);
  margin-top: 2px;
  &.hide {
    display: none;
  }
}
.message-user-pic {
  @include size(2rem);
  @include rounded(full);
  margin-top: 0.9rem;
  visibility: hidden;

  &.show {
    visibility: visible;
  }
}

.day-divider {
  margin: 24px auto;
  border-radius: 12px;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--text-primary-muted);
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
