@use "@/styles/main.scss" as *;
.message-list {
  @include flex(column);
  padding-inline: 1.5rem;
  width: 100%;
  gap: 0.8rem;
}

.message-item {
  @include flex(row);
  width: fit-content;

  gap: 5px;
  &.sent {
    margin-left: auto;
    .message-info {
      align-items: end;
    }
  }
  &.received {
    margin-right: auto;
    .message-info {
      align-items: start;
    }
  }
}
.message-info {
  @include flex();
  gap: 0.3rem;
}

.message-content__text {
  border-radius: 0.75rem 0.75rem 0 0;
}
.message-content {
  &__text {
    @include spacing(padding, 0.5em, 0.7rem);
  }

  &.sent {
    .message-content {
      &__text {
        border-bottom-left-radius: 0.75rem;
        background: var(--accent-primary);
        &--with-img {
          border-top-right-radius: 0;
          border-top-left-radius: 0;
        }
      }
      &__img {
        margin-left: auto;
        &--with-text {
          background: var(--accent-primary);
        }
      }
    }
  }

  &.received {
    .message-content {
      &__text {
        border-bottom-right-radius: 0.75rem;
        border-top-right-radius: 0.75rem;
        background-color: var(--accent-secondary);
        &--with-img {
          border-top-left-radius: 0;
        }
      }
      &__img {
        margin-right: auto;

        &--with-text {
          background-color: var(--accent-secondary);
        }
      }
    }
  }

  &--unread {
    .message-content__text {
      background-color: var(--unread-color) !important;
      font-weight: 600;
    }
  }
}
.message-time {
  font-size: 0.7rem;
  color: var(--text-primary-muted);
  margin-top: 2px;
  &.hide {
    display: none;
  }
}
.message-user-pic {
  @include size(2rem);
  @include rounded(full);
  margin-top: auto;
  margin-bottom: 0.9rem;
  visibility: hidden;

  &.show {
    visibility: visible;
  }
}

.day-divider {
  margin: 24px auto;
  border-radius: 12px;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--text-primary-muted);
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
