@use "@/styles/themes/themes";
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}
main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
button {
  cursor: pointer;
  border: none;
  text-decoration: none;
  background: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input,
textarea {
  font-family: "Rubik", sans-serif;
  border: none;
  background-color: transparent;
  outline: none;
}

input {
  all: unset;

  font: inherit;
  color: inherit;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  display: block;

  &:focus {
    outline: none;
  }
}

h1,
h2,
h3 {
  font-size: 1rem;
  font-weight: 550;
}

.form__error {
  color: var(--color-invalid);
  font-size: 0.85rem;
  text-transform: uppercase;
  margin-left: auto;
}
.primary-input {
  padding:0.8rem 0.7rem;
  color: var(--text-primary);
  background: var(--accent-primary-gradient);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  &:focus,
  &:hover {
    box-shadow: var(--accent-shadow-lg);
    transform: translateY(-1px);
  }
}
